extends layout

block head
  
    link(rel='stylesheet', type='text/css', href='../CSS/appointment.css')
    title Ninja Appointment

block content
  
  //- Appointment Topic
  div.container
    div.row.justify-content-center
      span.appointmentWelcomeSentence 
        | My Appointment
  
  //- Shopping status
  div.container.shoppingDisplayStatusContainer
    div.row.justify-content-center
      div.col-sm-8.shoppingDisplayStatusColumn
        span.shoppingDisplayStatus
          | Fill our appointment
        div.progress
          div(class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
            | Done 25%
    
  //- Appointment section 
  div.container.appointmentSection
    div.personalField
      div.personalFieldTopic Personal
      div(class="input-group")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Name
          input(type="text" class="form-control" placeholder="Ex: Biwit" aria-label="Username" aria-describedby="basic-addon1")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Surname
          input(type="text" class="form-control" placeholder="Ex: Triwith" aria-label="Username" aria-describedby="basic-addon1")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Birthday
          select(id="birthdayFeild" name="Day ")
            - var days = 0;
              while days < 31
                option(id=days++ value=days) #{days}
            span='/'
          select(id="monthFeild" name="Month ")
            - var month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
              each m in month
                option(id=m value=m) #{m}
          select(id="yearField" name="Year ")
            - var year = 1900;
              while year < 2018
                option(id=year++ value=year) #{year}
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Sex
          select(id="sexFeild")
            option(value="Male") Male
            option(value="Male") Female
            option(value="Male") Other
    div.fullAddressField
      div.fullAddressFieldTopic Address
      div(class="input-group")
        div(class="input-group-prepend fullField")
          span(class="input-group-text" id="basic-addon1") Address
          input(type="text" class="form-control" placeholder="Ex: 50 Ngam Wong Wan Rd, Ladyaow" aria-label="Username" aria-describedby="basic-addon1")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Distrinct
          input(type="text" class="form-control" placeholder="Ex: Chatuchak" aria-label="Username" aria-describedby="basic-addon1")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Province
          input(type="text" class="form-control" placeholder="Ex: Bangkok" aria-label="Username" aria-describedby="basic-addon1")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Zip code
          input(type="text" class="form-control" placeholder="Ex: 10900" aria-label="Username" aria-describedby="basic-addon1")
        div(class="input-group-prepend halfField")
          span(class="input-group-text" id="basic-addon1") Telephone
          input(type="text" class="form-control" placeholder="Ex: 0987898765" aria-label="Username" aria-describedby="basic-addon1")
    div.noticeField
      div.noticeFieldTopic ** Notice **
      div.noticeFieldSentence
        | If you already have the account. <br>
        | You should login and press this <button type="button" class="btn btn-success"> button </button> to auto-fill.

    
  //- Button selection
  div.container
    div.row.justify-content-center
      //- Confirm the appointment, the modal plugin
      button(type="button" class="btn btn-success" id='confirmButton' data-toggle="modal" data-target="#exampleModal")
        | Confirm
      div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title" id="exampleModalLabel") Ninja notes
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body")
              p Your appointment has been save! 
              p Next , Please select your convenient payment method.
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") No
              button(type="button" class="btn btn-primary" id="confirm") OK
      //- Cancel button
      button(type="button" class="btn btn-danger" id='cancelButton')
        | Cancel

block foot
  
  script(src='../script/appointment.js')
