extends layout

block head
  
    link(rel='stylesheet', type='text/css', href='../CSS/cart.css')
    title Ninja Cart

block content
  
  //- Cart topic
  div.container
    div.row.justify-content-center
      span.cartWelcomeSentence 
        | My Cart
            
  //- Table of confirm order
  div.container-fluid
    div.headTable
      div.row
        div.headCol
          | Product
        div.headCol
          | Product name
        div.headCol
          | Unit price(฿)
        div.headCol
          | Qty
        div.headCol
          | TotalCost(฿)
        div.headDeleteCol
          | DD
    div.bodyTable
      each product, i in products
        div.row
          div.bodyCol
            img.myImg(src="/pictures/"+product.productID+'_'+product.productName+'.jpg' , alt="")
          div.bodyCol
            span #{product.productName}
          div.bodyCol
            span #{product.productPrice}
          div.bodyCol
            span #{product.quantity} 
          div.bodyCol
            span.eachTotal= product.quantity * product.productPrice
          div.bodyDeleteCol
            input.mb-2.fixsize#inputNumberDelete(type='number' name='pro'+(i+1) step='1' min='1' max=product.quantity value='1')
            button.mb-2.fixsize.deletesButton(value= product.productName + ',pro' + (i+1) + ',' + product.productID) delete 

  //- Button selection
  div.container.buttonFinalSelection
    div.row.justify-content-center
      //- Confirm the cart, the modal plugin
      button(type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" id='confirmCartButton')
        | Confirm
      div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title" id="exampleModalLabel") Ninja notes
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body")
              p Your cart has been save! 
              p Next , let we know our appointment.
              p (may be your residence or others place)
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") No
              button(type="button" class="btn btn-primary" id='yesButton' ) OK
      //- Cancel button
      button(type="button" class="btn btn-danger" id='cancelButton')
        | Cancel

block foot
  
  script(src='../script/cart.js')
