extends layout

block head
  
    link(rel='stylesheet', type='text/css', href='../CSS/summary.css')
    title Ninja Summary

block content
  
  //- Summary section
  div.summarySection
    div.summaryTopicSentence
      span Transaction Summary

    div.summaryDetail
      div.summaryCart
        div.row
          - var headArray = ['Product', 'Name', 'Quanlity', 'UnitPrice', 'TotalCost']
          each i in headArray
            div.headTableTopic.width20(style="height: 50px; text-align: center;")
              p(style="font-weight:bold;")= i
          each pro in products
            div.pictureColumn.width20
              div
                img(src='../pictures/'+pro.productID+'_'+pro.productName+'.jpg' name='../pictures/'+pro.productID+'_'+pro.productName+'.jpg')
            div.productNameColumn.width20
              div
                | #{pro.productName}
            div.productQuantityColumn.width20
              div
                | #{pro.quantity}
            div.productUnitPriceColumn.width20
              div
                | #{pro.productPrice}
            div.productTotalPriceColumn.width20
              div
                - var quan = pro.quantity
                - var price = pro.productPrice
                - var totalPrice = quan * price
                  | #{totalPrice}
      div.summary2
        div.row
          div.summaryAccount
            p Account
            - var accArray = ['orderHistory', 'email', 'username', 'point', 'customerID']
            each acc, array in account, accArray
              div(class="input-group mb-3")
                div(class="input-group-prepend")
                  span(class="input-group-text" id="basic-addon1")= array
                  input(type="number" class="form-control" placeholder=acc aria-label="Username" aria-describedby="basic-addon1" disabled)
          div.summaryCustomer
            p Customer
            - var cusArray = ['gender', 'zipCode', 'address', 'district', 'province', 'email', 'name', 'phone', 'bday']
            each cus, array in customer, cusArray
              div(class="input-group mb-3")
                div(class="input-group-prepend")
                  span(class="input-group-text" id="basic-addon1")= array
                  input(type="number" class="form-control" placeholder=cus aria-label="Username" aria-describedby="basic-addon1" disabled)
        div.row
          div.summaryPayment
              
    
  //- Button selection
  div.buttonFinalSelection
    div.row.justify-content-center
      //- Confirm the payment, the modal plugin
      button(type="button" class="btn btn-success" id='confirmCartButton' data-toggle="modal" data-target="#exampleModal")
        | Confirm
      div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title" id="exampleModalLabel") Ninja notes
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body")
              p You have confirmed the transaction.
              p Next , Your transaction will be complete
              p And you will get the order number to check your delivery status.
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") No
              button(type="button" class="btn btn-primary" id="yesButton") OK
      //- Cancel button
      button(type="button" class="btn btn-danger" id='cancelButton')
        | Cancel

block foot
  
  script(src='../script/summary.js')
