extends store

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Whisky

block content

  div(class='container')
    div(id="nav-bar-box-2", class="row")
      div(class="col-sm-12")
        ul(id="menu-nav-bar", class="nav nav-pills nav-fill")
          li(class="nav-item")
            a(class=(typeDrink === 'whisky' ? "nav-link active": "nav-link") href="/whisky") Whisky
          li(class="nav-item")
            a(class=(typeDrink === 'beer' ? "nav-link active": "nav-link") href="/beer") Beer
          li(class="nav-item")
            a(class=(typeDrink === 'wine' ? "nav-link active": "nav-link") href="/wine") Wine
          li(class="nav-item")
            a(class=(typeDrink === 'mixer' ? "nav-link active": "nav-link") href="/mixer") Mixer

  div(class="container" id='userNavBar')
    div(class='row justify-content-end')
      i(class="far fa-user" id='userNavBarUserIcon')
      if user
        button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' value=user.username ) #{user.username}
      else
        button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' ) None
      i(class="fas fa-shopping-cart" id='userNavBarCartIcon')
      button(type="button" class="btn btn-outline-dark" id='userNavBarOrder' disabled) 0
      button.btn.btn-danger(type="button" id='userNavBarConfirm' ) Checkout

      button(type="button" class="btn btn-danger" id='userNavBarConfirm' href='/confirmOrder') CONFIRM

    h2 Whisky
    .flex-container.mt-3
      each product, i in products
        div.p-3.border.border-danger
          h.mt-2 #{product.productName}
          h3 #{product.productDetail}
          img.fixsize(src='../pictures/Whisky_'+product.productName+'.jpg')
          br
          h ฿ #{product.productPrice}
          br
          div
            input.mb-2.fixsize(type='number', name='pro'+(i+1), step='1', min='1' , value='1')
            button.mb-2.fixsize.button1(value= product.productName + ',pro' + (i+1) + ',' + product.productID ) Add To Cart


block foot

  script(src='../script/whisky.js')
