extends store

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Whisky

block content

    //- Product topic
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-sm-6' id='productContent')
          span(id='productContentTopic') >> Whisky <<

    //- Product catalogue
    .row.color-container.mt-3
        each product, i in products
          .container.col-6.col-md-4
            div(class='product-border')
              h.mt-2 #{product.productName}
              h3 #{product.productDetail}
              div
                img.fixsize.imgClick(id=i src='../pictures/'+product.productID+'_'+product.productName+'.jpg' name='../pictures/'+product.productID+'_'+product.productName+'.jpg')
              br
              h ฿ #{product.productPrice}
              br
              div
                input.mb-2.fixsize(type='number', name='pro'+(i+1), step='1', min='1', max="30" , value='1')
                button.mb-2.fixsize.addToCartButton(value= product.productName + ',pro' + (i+1) + ',' + product.productID ) Add To Cart
    each product, i in products
      .form-popup(class=i)
        .exitpopup
        form.form-container(action='/action_page.php')
          h1 #{product.productName}
          hr
          .container
            .row
              .col-4
                img.onClickedImg(src='../pictures/'+product.productID+'_'+product.productName+'.jpg',height='200', width='200')
              .col-4
                | Vol : 320 ml.

                br
                br
                | Type : Beer
                br
                br
                | Distributor : Boon Rawd Brewery Co.,Ltd.
              .col-4
                | ABV : 5 %
                br
                br
                | Country : Thailand
                br
                br
                button.btn.favorite Add To Favorite
              h Beer Leo is a beer from Boon Rawd Brewery Co.,Ltd first produced in 1996, is a quality product from Beer Singha.
          hr
          input.btn.number.mb-2.fixsize.center(type='number', name='pro'+(i+1), step='1', min='1', max="30" , value='1')
          button.btn.mb-2.fixsize.addToCartButton.center Add To Cart
          button.btn.cancel.cancelButton(type='button' id=i) Close
block foot

  script(src='../script/Whisky.js')
