extends layout

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Wine

block content

    //- Product topic
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-sm-6' id='productContent')
          span(id='productContentTopic') >> Wine <<


    //- Product catalogue
    .row.color-container
        each product, i in products
          .container.col-6.col-md-4
            div(class='product-border')
              h.mt-2 #{product.productName}
              h3 #{product.productDetail}
              hr
              div
                img.fixsize.imgClick(id=i+1 src='../pictures/'+product.productID+'_'+product.productName+'.jpg' name='../pictures/'+product.productID+'_'+product.productName+'.jpg')
                //- .tile.imgClick.center(id=i+1, data-scale='2', data-image='../pictures/'+product.productID+'_'+product.productName+'.jpg' name='../pictures/'+product.productID+'_'+product.productName+'.jpg')
              hr
              h ฿ #{product.productPrice}
              br
              div
                input.mb-2.fixsize.onpage(type='number', name='pro'+(i+1), step='1', min='1', max="30" , value='1')
                button.mb-2.fixsize.addToCartButton.onpage(value= product.productName + ',pro' + (i+1) + ',' + product.productID ) Add To Cart
    each product, i in products
      .form-popup(class=i+1)
        .exitpopup
        form.form-container(action='/wine')
          h1 #{product.productName}
          hr
          .container
            .row
              .col-4
                img.onClickedImg(src='../pictures/'+product.productID+'_'+product.productName+'.jpg',height='200', width='200')
              .col-4
                | Vol : #{product.vol}

                br
                br
                | Type : #{typeDrink}
                br
                br
                | Distributor : #{product.distributor}
              .col-4
                | ABV : #{product.ABV}
                br
                br
                | Country : #{product.country}
                br
                br
                button.btn.favorite Add To Favorite
              h Black Label's iconic square bottle makes it one of the world's most recognisable Scotch whiskies - and it's also one of whisky critic Jim Murray's favourite blends: 'If there is a silkier delivery on the market today, I have not seen it: this is sublime stuff...one of the world's most masterful whiskies back in all its complex glory'
          hr
          input.mb-2.fixsize.center(type='number', name='pro'+(i+1), step='1', min='1', max="30" , value='1')
          button.btn.add.mb-2.fixsize.addToCartButton.center(value= product.productName + ',pro' + (i+1) + ',' + product.productID ) Add To Cart
          button.btn.cancel.cancelButton(type='button' id=i+1) Close
block foot

  script(src='../script/wine.js')
